<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Carina Suite" parallel="tests" thread-count="2">
    <test name="SauceDemo">
        <classes>
            <class name="tests.AddRemoveProductInCartTest"/>
            <class name="tests.CheckoutTest"/>
            <class name="tests.InventorySortingTest"/>
            <class name="tests.LoginLogoutTest"/>
        </classes>
    </test>
</suite>
